*{
    margin:0;
    
    border:border-box;
}

.navbar{
    height:60px;
    background-color: #2c2c6b;
}

p{
    width: 30px;
    color: aqua;
    margin: 2px;;
    padding-right: 0%;
    font-style: italic;
}

p:hover{
    background-color:black;
    width:100%;
}

a:hover {
    background-color:black;
    border-color:rgb(145, 27, 27);
    
}
 